{#  agendaS4/templates/contacto/_delete_form.html.twig #}

{# Formulario _delete_form #}
<form method="post" action="{{ path('contacto_delete', {'id': contacto.id}) }}" onsubmit="return confirm('{{ 'mensaje.confirmacion_eliminar'|trans({},'mensaje') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contacto.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash agenda-ico"></i>{{ 'etiqueta.boton_eliminar'|trans }}</button>
</form>
