{# agendaS4/templates/_cabecera.html.twig #}

<div class="row agenda-cabecera">
    <div class="col-4 agenda-cabecera">
        {# Cabecera #}
        <h4><i class="fas fa-users agenda-ico"></i>{{ cabecera_encabezado }}</h4>
    </div>
    <div class="col-8 text-right">
        {# Botonera #}
        {{ include('_botonera.html.twig') }}
    </div>
</div>
